@import '../../scss/variables';
label {
    font-family: $main-font;
    font-weight: 600;
    font-size: 18px;

    color: darken($color: $accent, $amount: 10%);
}

.formInput {
    width: 300px;
    max-height: 300px;
}

textarea {
    resize: none;
    height: 200px;
}
